apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: healthcare
spec:
  selector:
    app: appointment-service
  ports:
    - port: 3001
      targetPort: 3001
  type: ClusterIP
