name: Deploy to Kubernetes

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy Patient API
        run: |
          helm upgrade --install patient-api ./helm-charts/patient-api-chart --namespace healthcare-app --create-namespace

      - name: Deploy Appointment Service
        run: |
          helm upgrade --install appointment-service ./helm-charts/appointment-chart --namespace healthcare-app

      - name: Deploy Billing Service
        run: |
          helm upgrade --install billing-service ./helm-charts/billing-chart --namespace healthcare-app

      - name: Deploy Portal UI
        run: |
          helm upgrade --install portal-ui ./helm-charts/portal-ui-chart --namespace healthcare-app
